body {
  font-family: Arial, sans-serif;
}

#passwordInput {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

.strength-section {
  height: 20px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

#section1 {
  width: 33.33%;
}

#section2 {
  width: 33.33%;
}

#section3 {
  width: 33.33%;
}
