<form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
  <label for="passwordInput"> Enter Password:</label>
  <input
    type="password"
    id="passwordInput"
    placeholder="password"
    formControlName="password"
    (input)="checkPasswordStrength()"
  />
  <div class="card-action">
    <button class="btn" type="submit" [disabled]="!form.valid">Submit</button>
  </div>
  <div
    class="strength-section"
    id="section1"
    [ngClass]="{
      gray: passwordStrength === 'empty',
      red: passwordStrength === 'easy',
      yellow: passwordStrength === 'medium',
      green: passwordStrength === 'strong'
    }"
  ></div>
  <div
    class="strength-section"
    id="section2"
    [ngClass]="{
      gray: passwordStrength === 'empty',
      red: passwordStrength === 'easy',
      yellow: passwordStrength === 'medium',
      green: passwordStrength === 'strong'
    }"
  ></div>
  <div
    class="strength-section"
    id="section3"
    [ngClass]="{
      gray: passwordStrength === 'empty',
      red: passwordStrength === 'easy',

      green: passwordStrength === 'strong'
    }"
  ></div>
</form>
