.strength-section {
  height: 20px;
  margin-top: 10px;
  border: 1px solid #ccc;
  width: 33.33%;
  border-radius: 6px;
}
.gray {
  background-color: gray;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
